<%- include("partials/header.ejs") %>

<h2>Utility: <%= utilityReq %></h2>
<h3>Object Index: <%= index %></h3>
<ul>
  <% dates.forEach(dateObj => { %>
  <li><strong><%= dateObj.key %>:</strong> <%= dateObj.value %></li>
  <% }); %>
</ul>
%> <%-include("partials/footer.ejs") %>
