<%- include("partials/header.ejs") %>

<h1>Delete Equipment</h1>
<form
  id="deleteForm"
  action="/<%=utility%>/<%=equipment%>/Delete-Equipment"
  method="post"
>
  <p>Are u sure u want to delete <%=equipment%> from stock?</p>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label"
      >Write "confirm" to delete:</label
    >
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      name="confirmation"
      placeholder=""
    />
  </div>
  <input type="submit" value="submit" />
</form>

<%-include("partials/footer.ejs") %>
