<%- include("partials/header.ejs") %>

<h1>Equipments based on <%= utility %></h1>
<% equipments.forEach(i => { %>
<div>
  <h2><%= i.equipment %></h2>
  <form action="/<%= utility %>/<%= i.equipment %>/dates" method="GET">
    <button type="submit">dates</button>
  </form>
</div>
<% }); %> <%-include("partials/footer.ejs") %>
