<%- include("partials/headerEquipments.ejs") %>

<h1 class="py-4"><%= utility %> Equipments</h1>
<% equipmentsArray.forEach((i , index)=> { %>

<div class="row flex-lg-row align-items-center g-5 py-5">
  <div class="col-lg-3 order-lg-2">
    <img
      src="<%=i.picture%>"
      class="d-block mx-auto img-fluid"
      alt="Equipment image missing"
      width="500"
      height="300"
      loading="lazy"
    />
  </div>
  <div class="col-lg-9 order-lg-1">
    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
      <%= i.equipment %>
    </h2>
    <p class="lead mb-4"><%= i.description %></p>
    <p class="lead mb-4">Category: <%= i.category %></p>
    <p class="lead mb-4">Location: <%= i.location %></p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <form
        action="/<%=utility%>/<%=i.equipment%>/<%=index%>/dates"
        method="GET"
      >
        <button type="submit" class="btn btn-primary btn-lg me-md-2">
          Dates/more info
        </button>
      </form>
      <form
        action="/<%=utility%>/<%=i.equipment%>/delete"
        class="px-4"
        method="GET"
      >
        <button type="submit" class="btn btn-outline-secondary btn-lg px-4">
          Delete Equipment
        </button>
      </form>
    </div>
  </div>
</div>

<% }); %> <%-include("partials/footer.ejs") %>
