<%- include("partials/header.ejs") %>

<div>
  <h2><%= utility %></h2>
  <% equipment.forEach(item => { %>
  <div>
    <h3><%= item.equipment %></h3>
    <ul>
      <li><strong>Description:</strong> <%= item.dates.warranty %></li>
      <!-- Add more details as needed -->
      <li>
        <a href="/equipment/<%= encodeURIComponent(item.equipment) %>/dates">
          Show Dates
        </a>
      </li>
    </ul>
  </div>
  <% }); %>
</div>

<script>
  function redirectToDatesPage(equipmentName) {
    window.location.href =
      "/equipment/" + encodeURIComponent(equipmentName) + "/dates";
  }
</script>

<%-include("partials/footer.ejs") %>
