<%- include("partials/header.ejs") %>

<h1 class="text-center">Equipments based on the Lab`s Areas of Study</h1>
<% data.forEach(utility => { %>

<div class="bg-info px-4 py-5 my-5 text-center rounded-div">
  <img
    class="d-block mx-auto mb-4"
    src="<%= utility.icon %>"
    alt=""
    width="80"
    height="65"
  />
  <h2 class="display-5 fw-bold text-body-emphasis"><%= utility.name %></h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">utility description</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <form action="/<%= utility.name %>/equipments" method="GET">
        <button type="button submit" class="btn btn-primary btn-lg px-4 gap-3">
          equipments
        </button>
      </form>
    </div>
  </div>
</div>

<hr />

<% }); %> <%-include("partials/footer.ejs") %>
